ollama installed locally - https://ollama.com/download/windows

Follow https://www.doroch.com/post/ai-on-amd-radeon-rx-9000-local-llm-ollama-rocm-gpt-oss-qwen3/ if you want to use a 9000 series AMD GPU.